<!--Assignment 1
Student: Gurvir Singh 301108852
Course: Web Application Development SEC.004  COMP229004-2020F
Date: October 09, 2020 -->
 
 <!--Footer-->
  <br>
  <footer style="margin-top: 2cm;">
  <nav   class="navbar fixed-bottom navbar-dark" style="background-color: slateblue;" >
    <h6  class="display-6 navbar-text navbar-dark"> &copy; 2020 Copyright 2020 - Gurvir Singh - Express Portfolio </h6>
  </nav>
</footer>