 <!--Footer-->
  <footer>
  <nav   class="navbar fixed-bottom navbar-dark" style="background-color: slateblue;" >
    <h6 style="margin-left: 520px;" class="display-6 navbar-text navbar-dark"> &copy; 2020 Copyright 2020 - Gurvir Singh - Express Portfolio </h6>
  </nav>
</footer>