<%- include partials/header.ejs%>
  
<%- include partials/mainNav.ejs%>

  <!--Main Content of the Page-->
  <main class="container">
    <div style="background-color: white">
      <h1 style="text-align-last: center; color: goldenrod; margin-top: 2cm; " class="display-5">  Welcome!  </h1>
      <hr class="my-6">
    </div>
<div style="width: 980px; margin-left: auto; margin-right: auto;">
  <p style="" class="lead" class="text-justify">Welcome to GS! Here you will find different types of services related to the world of web development, programming and
    database management. We are looking forward to working with you!
  </p><br><br><br>
  <blockquote class="blockquote text-center">
    <p class="mb-0">To inspire people by providing services beyond excellence. We think ahead, we live ahead!</p>
    <footer class="blockquote-footer">GS Company</footer>
  </blockquote><br><br>
  <a style="display: block; margin: auto; width: 15%;" class="btn btn-primary" href="/about" role="button">Know more!</a>
</div>
  </main>

 
<%- include partials/bottomNav.ejs%>
 
<%- include partials/footer.ejs%>




